/* USER DETAIL START  */
.content{
    max-width: 1470px;
    padding: 15px;
    margin: 0 auto;
    width: 100%;
}
.admin-table{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.admin-subtitle{
    font-size: 34px;
    line-height: 1.4;
    font-weight: 700;
}
button {
    margin: 20px;
}
.custom-btn {
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}
.add-new-user-btn{
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
}
.add-new-user-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.add-new-user-btn:hover {
    color: #fff;
}
.add-new-user-btn:hover:after {
    top: 0;
    height: 100%;
}
.add-new-user-btn:active {
    top: 2px;
}
/* USER DETAIL END  */

/* DISPLAY USER START  */
ul{
    list-style: none;
}
.display-user-wrap li{
    font-size: 24px;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    align-items: center;
}
.delete-btn{
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}
.delete-btn:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
}
.delete-btn:hover {
    background: transparent;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #fff;
}
.delete-btn:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}
/* DISPLAY USER END  */

/* DELETE ALL USER START  */
.all-clear-wrapper{
    text-align: center;
}
.clear-btn {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}
.clear-btn:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}
.clear-btn:before,
.clear-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}
.clear-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.clear-btn:hover:before,
.clear-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
/* DELETE ALL USER END */